<script type="text/javascript" src='js/saved/main.js'></script>
<script type="text/javascript" src='js/saved/Net.js'></script>
<script type="text/javascript" src='js/saved/Boxes.js'></script>
<link type="text/css" rel="stylesheet" href="css/saved.css">
<link type="text/css" rel="stylesheet" href="css/slider.css">

<section id="container">

</section>

<script>
    $(document).ready(function () {
        net.load_arrays()
    })
</script>