<!DOCTYPE html>
<html lang="pl">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Automat</title>
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
    <script type="text/javascript" src='js/jQuery.js'></script>
    <link type="text/css" rel="stylesheet" href="css/styles.css">
    <link type="text/css" rel="stylesheet" href="css/navbar.css">
    <link type="text/css" rel="stylesheet" href="css/sidebar.css">
    {{#if home}}
    {{> home_head}}
    {{/if}}
</head>

<body>

    {{>navbar}}
    {{>sidebar}}
    <section class="container">
        {{#if home}}
        {{> home}}
        {{/if}}
        {{#if forest}}
        {{> forest}}
        {{/if}}
        {{#if saved}}
        {{> saved}}
        {{/if}}
    </section>
    <footer id="footer">{{{current_game.game}}}</footer>
</body>


</html>